# ceedling
build/artifacts
build/gcov
build/logs
build/temp
build/test
build/

# CLion
.idea/


# CMake
cmake-build-debug/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Executable
sdvc
sdvc.cbp

# Binaries
bin/

# Logs
log/
